/* work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
.dflex{
    display: flex;
}
/* Dark 02 */
.text-gray{
    color: #131313;
}
/* Dark 03 */
.text-light-gray{
    color: #424242;
}
.btn-primary{
    background-color: #FF900E;
    max-width: 180px;
    height: 4rem;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* body tag */
.work-sans-font{
    font-family: "Work Sans", sans-serif;
}
/* header section start here */
.bg-light{
    background-color: rgba(255, 96, 14, 0.1) ;
}
/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 45px;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner setion starts here */
.banner-content{
    max-width:  850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.anner-description{
    font-size: 16px;
}
.banner-img{
    width: 100%;
}
/* header section ends here */
/* main section starts here */
/* main section ends here */
/* footer section starts here */
/* footer section ends here */
/* ---------------RESPONSIVE--------------- */
@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}